black
boto3
Django
django-cors-headers
django-extensions
django-grappelli
djangorestframework
djangorestframework-gis
django-postgres-copy
celery[redis]
flower
apache-sedona[db,spark,pandas,geopandas]
fiona
geopandas
geopy
gunicorn
httpie
ipdb
pathlib
matplotlib
pandas
psycopg2-binary
pycairo
pysal
python-dotenv
requests
reportlab
reportlab[pycairo]
reportlab[accel]
reportlab[renderpm]
reportlab[pycairo]
scikit-learn
