black
boto3
Django
django-cors-headers
django-extensions
djangorestframework
djangorestframework-gis
fiona
geopandas
geopy
gunicorn
httpie
pathlib
matplotlib
pandas
psycopg2-binary
pysal
python-dotenv
requests
reportlab
reportlab[pycairo]
reportlab[accel]
reportlab[renderpm]
reportlab[pycairo]
scikit-learn
